<div class="row mt-5">
  <div class="col-md-8 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fas fa-file-signature"></i> Petitioner</h1>
      <p>Petitioner is a free to use petition platform.</p>
      <p>Create online petitions which can be shared to or searched by millions across the world for them to sign, to help you with a cause or matter that is important to you.</p>
      <p>To begin creating or signing petitions, either register for an account or login!</p>
    </div>
  </div>
  <div class="col-md-4 m-auto">
    <div class="card card-body text-center">
      <h1><i class="far fa-user fa-2x"></i></h1>
      <p>Register or login to create and sign petitions</p>
      <a href="/user/register" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/user/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>