<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/bootswatch-darkly.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/search.js"></script>
    <title>Petitioner</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-file-signature"></i> Petitioner</a>
        <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <% if(typeof user == 'object' && user) { %>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/user/dashboard"><i class="fas fa-user"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/logout"><i class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>
    <% } %>
</nav>
<div id="searchResults" class="list-group">
</div>
<div class="container" style="position: relative;"><%- body %></div>
</body>
</html>