body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
hr {
  border-top: 4px solid #444444;
}
.progress-bar .progress-bar-text {
  position: absolute;
  text-shadow: 0px 0px 4px #444;
}
